<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PmssWpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <PmssWpfApp.Properties.Settings>
      <setting name="TemperatureLevels" serializeAs="String">
        <value>10,max</value>
      </setting>
      <setting name="TemperatureColors" serializeAs="String">
        <value>#FFFF0000,#FF000000</value>
      </setting>
      <setting name="MonitorRain01Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r1</value>
      </setting>
      <setting name="MonitorRain03Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\plot</value>
      </setting>
      <setting name="MonitorRain06Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="Rain01Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain01Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain03Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain06Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain12Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain24Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain03Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain06Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain12Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain24Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="FloodLevels" serializeAs="String">
        <value />
      </setting>
      <setting name="FloodColors" serializeAs="String">
        <value />
      </setting>
      <setting name="DisasterLevels" serializeAs="String">
        <value />
      </setting>
      <setting name="DisasterColors" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductExportFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\product</value>
      </setting>
      <setting name="MonitorRain01Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain03Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain06Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain24Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain01jmFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r1-jm</value>
      </setting>
      <setting name="MonitorRain03jmFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\plot-jm</value>
      </setting>
      <setting name="MonitorRain06jmFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2405Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2408Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2408jmFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2408AllFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2414Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2414jmFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2414AllFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2420Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2420jmFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain2420AllFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r6</value>
      </setting>
      <setting name="MonitorRain01ZdFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\zd_plot</value>
      </setting>
      <setting name="EditFloodFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\edit</value>
      </setting>
      <setting name="EditZilaoFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\edit</value>
      </setting>
      <setting name="EditDisasterFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\edit</value>
      </setting>
      <setting name="EditRiverFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\edit</value>
      </setting>
      <setting name="EditGTBReferFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\edit</value>
      </setting>
      <setting name="ECMWF03Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\newecmwf_grib\rain03\rain02</value>
      </setting>
      <setting name="ECMWF06Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\newecmwf_grib\rain06\rain01</value>
      </setting>
      <setting name="ECMWF12Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\newecmwf_grib\rain12\rain01</value>
      </setting>
      <setting name="ECMWF24Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\newecmwf_grib\rain24\rain01</value>
      </setting>
      <setting name="T63903Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\t639\rain03_3</value>
      </setting>
      <setting name="T63906Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\t639\rain06_3_h</value>
      </setting>
      <setting name="T63912Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\t639\rain12</value>
      </setting>
      <setting name="T63924Folder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\t639\rain24</value>
      </setting>
      <setting name="ModelDisaster1Folder" serializeAs="String">
        <value>Z:\diamond\hjk\flood\output</value>
      </setting>
      <setting name="ModelDisaster2Folder" serializeAs="String">
        <value>Z:\diamond\hjk\flood\test2004</value>
      </setting>
      <setting name="ModelZilaoFolder" serializeAs="String">
        <value>C:\Users\wenxu\Desktop\Projects\inform2\diamond\zilao\fxf\flood-all\30</value>
      </setting>
      <setting name="ModelRiverFolder" serializeAs="String">
        <value>Z:\diamond\floodwarning</value>
      </setting>
      <setting name="ModelFloodFolder" serializeAs="String">
        <value>Z:\diamond\flood\24hr</value>
      </setting>
      <setting name="ModelAreaRainFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\diamond\surface\valley\weight_fth</value>
      </setting>
      <setting name="ForcastWeather24Folder" serializeAs="String">
        <value>Z:\diamond\update\spc\warning</value>
      </setting>
      <setting name="ForcastWeatherProFolder" serializeAs="String">
        <value>Z:\diamond\update\spc\pro</value>
      </setting>
      <setting name="ForcastRainQPF24Folder" serializeAs="String">
        <value>C:\Users\wenxu\Desktop\Projects\inform2\diamond\update\flood\zl</value>
      </setting>
      <setting name="ForcastRainQPF06Folder" serializeAs="String">
        <value>Z:\diamond\update</value>
      </setting>
      <setting name="MonitorRain05DaysFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r1-jm</value>
      </setting>
      <setting name="MonitorRain14DaysFolder" serializeAs="String">
        <value>C:\Users\wenxu\Downloads\BaiduYun\inform\data\surface\r1-jm</value>
      </setting>
      <setting name="Rain05DaysColors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain05DaysLevels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain14DaysColors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain14DaysLevels" serializeAs="String">
        <value />
      </setting>
    </PmssWpfApp.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="HydroModel" connectionString="server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=pmssdata" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>