<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PmssWpfApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <PmssWpfApp.Properties.Settings>
      <setting name="TemperatureLevels" serializeAs="String">
        <value>10,max</value>
      </setting>
      <setting name="TemperatureColors" serializeAs="String">
        <value>#FFFF0000,#FF000000</value>
      </setting>
      <setting name="MonitorRain01Folder" serializeAs="String">
        <value>Z:\data\surface\r1</value>
      </setting>
      <setting name="MonitorRain03Folder" serializeAs="String">
        <value>Z:\data\surface\plot</value>
      </setting>
      <setting name="MonitorRain06Folder" serializeAs="String">
        <value>Z:\data\surface\r6</value>
      </setting>
      <setting name="Rain01Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain01Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain03Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain06Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain12Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain24Levels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain03Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain06Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain12Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain24Colors" serializeAs="String">
        <value />
      </setting>
      <setting name="FloodLevels" serializeAs="String">
        <value />
      </setting>
      <setting name="FloodColors" serializeAs="String">
        <value />
      </setting>
      <setting name="DisasterLevels" serializeAs="String">
        <value />
      </setting>
      <setting name="DisasterColors" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductExportFolder" serializeAs="String">
        <value>D:\product</value>
      </setting>
      <setting name="MonitorRain01Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain03Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain06Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain24Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MonitorRain01jmFolder" serializeAs="String">
        <value>Z:\data\surface\r11-jm</value>
      </setting>
      <setting name="MonitorRain03jmFolder" serializeAs="String">
        <value>Z:\data\surface\plot-jm</value>
      </setting>
      <setting name="MonitorRain06jmFolder" serializeAs="String">
        <value>Z:\data\surface\r6-jm</value>
      </setting>
      <setting name="MonitorRain2405Folder" serializeAs="String">
        <value>Z:\data\surface\r24-5</value>
      </setting>
      <setting name="MonitorRain2408Folder" serializeAs="String">
        <value>Z:\data\surface\r24-8</value>
      </setting>
      <setting name="MonitorRain2408jmFolder" serializeAs="String">
        <value>Z:\data\surface\r24-8-jm</value>
      </setting>
      <setting name="MonitorRain2408AllFolder" serializeAs="String">
        <value>Z:\data\surface\r24-88</value>
      </setting>
      <setting name="MonitorRain2414Folder" serializeAs="String">
        <value>Z:\data\surface\r24-14</value>
      </setting>
      <setting name="MonitorRain2414jmFolder" serializeAs="String">
        <value>Z:\data\surface\r24-14-jm</value>
      </setting>
      <setting name="MonitorRain2414AllFolder" serializeAs="String">
        <value>Z:\data\surface\r24-14-all</value>
      </setting>
      <setting name="MonitorRain2420Folder" serializeAs="String">
        <value>Z:\data\surface\r24-20</value>
      </setting>
      <setting name="MonitorRain2420jmFolder" serializeAs="String">
        <value>Z:\data\surface\r24-20-jm</value>
      </setting>
      <setting name="MonitorRain2420AllFolder" serializeAs="String">
        <value>Z:\data\surface\r24-20-all</value>
      </setting>
      <setting name="MonitorRain01ZdFolder" serializeAs="String">
        <value>Z:\data\surface\zd_plot</value>
      </setting>
      <setting name="EditFloodFolder" serializeAs="String">
        <value>Z:\diamond\update\flood\sh</value>
      </setting>
      <setting name="EditZilaoFolder" serializeAs="String">
        <value>Z:\diamond\update\flood\zl</value>
      </setting>
      <setting name="EditDisasterFolder" serializeAs="String">
        <value>Z:\diamond\update\flood</value>
      </setting>
      <setting name="EditRiverFolder" serializeAs="String">
        <value>Z:\diamond\update\flood\flood</value>
      </setting>
      <setting name="EditGTBReferFolder" serializeAs="String">
        <value>Z:\diamond\update\flood\gt</value>
      </setting>
      <setting name="ECMWF03Folder" serializeAs="String">
        <value>Z:\data\newecmwf_grib\rain03\rain01</value>
      </setting>
      <setting name="ECMWF06Folder" serializeAs="String">
        <value>Z:\data\newecmwf_grib\rain06\rain01</value>
      </setting>
      <setting name="ECMWF12Folder" serializeAs="String">
        <value>Z:\data\newecmwf_grib\rain12\rain01</value>
      </setting>
      <setting name="ECMWF24Folder" serializeAs="String">
        <value>Z:\data\newecmwf_grib\rain24\rain01</value>
      </setting>
      <setting name="T63903Folder" serializeAs="String">
        <value>Z:\data\t639\rain03_3</value>
      </setting>
      <setting name="T63906Folder" serializeAs="String">
        <value>Z:\data\t639\rain06_3</value>
      </setting>
      <setting name="T63912Folder" serializeAs="String">
        <value>Z:\data\t639\rain12_3</value>
      </setting>
      <setting name="T63924Folder" serializeAs="String">
        <value>Z:\data\t639\rain24_3</value>
      </setting>
      <setting name="ModelDisaster1Folder" serializeAs="String">
        <value>Z:\diamond\hjk\flood\output</value>
      </setting>
      <setting name="ModelDisaster2Folder" serializeAs="String">
        <value>Z:\diamond\hjk\flood\test2004</value>
      </setting>
      <setting name="ModelZilaoFolder" serializeAs="String">
        <value>Z:\diamond\zilao\fxf\flood-all\30</value>
      </setting>
      <setting name="ModelRiverFolder" serializeAs="String">
        <value>Z:\diamond\floodwarning</value>
      </setting>
      <setting name="ModelFloodFolder" serializeAs="String">
        <value>Z:\diamond\flood\24hr</value>
      </setting>
      <setting name="ModelAreaRainFolder" serializeAs="String">
        <value>Z:\diamond\hjk\flood\test2004</value>
      </setting>
      <setting name="ForcastWeather24Folder" serializeAs="String">
        <value>Z:\diamond\update\spc\warning</value>
      </setting>
      <setting name="ForcastWeatherProFolder" serializeAs="String">
        <value>Z:\diamond\update\spc\pro</value>
      </setting>
      <setting name="ForcastRainQPF24Folder" serializeAs="String">
        <value>Z:\diamond\update</value>
      </setting>
      <setting name="ForcastRainQPF06Folder" serializeAs="String">
        <value>Z:\diamond\update</value>
      </setting>
      <setting name="MonitorRain05DaysFolder" serializeAs="String">
        <value>Z:\diamond\hjk\flood\rr05</value>
      </setting>
      <setting name="MonitorRain14DaysFolder" serializeAs="String">
        <value>Z:\diamond\hjk\flood\rr14</value>
      </setting>
      <setting name="Rain05DaysColors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain05DaysLevels" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain14DaysColors" serializeAs="String">
        <value />
      </setting>
      <setting name="Rain14DaysLevels" serializeAs="String">
        <value />
      </setting>
    </PmssWpfApp.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="HydroModel" connectionString="server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=pmssdata" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>