<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PMSS.Configure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PMSS.Configure.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PMSS.Configure.Properties.Settings>
            <setting name="EmailName" serializeAs="String">
                <value>sbyujx@163.com</value>
            </setting>
            <setting name="EmailPwd" serializeAs="String">
                <value>w86x08f10</value>
            </setting>
            <setting name="FtpUri" serializeAs="String">
                <value>ftp://192.168.199.157/</value>
            </setting>
            <setting name="FtpUser" serializeAs="String">
                <value>sbyujx</value>
            </setting>
            <setting name="FtpPwd" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="NotesServer" serializeAs="String">
                <value>lily02/CMA</value>
            </setting>
            <setting name="NotesFile" serializeAs="String">
                <value>mail/zhoujun.nsf</value>
            </setting>
            <setting name="NotesPwd" serializeAs="String">
                <value>zhouj123</value>
            </setting>
            <setting name="LanAddr" serializeAs="String">
                <value>\\192.168.199.157\share</value>
            </setting>
            <setting name="LanUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="LanPwd" serializeAs="String">
                <value/>
            </setting>
        </PMSS.Configure.Properties.Settings>
        <PMSS.Configure.Settings>
            <setting name="EmailName" serializeAs="String">
                <value>sbyujx@163.com</value>
            </setting>
            <setting name="EmailPwd" serializeAs="String">
                <value>w86x08f10</value>
            </setting>
        </PMSS.Configure.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
